= label_tag :country, s_('Trial|Provinces'), class: 'col-form-label'
= select_tag :country, options_for_select([[s_('Trial|Please select a province'), '']]), class: 'js-trial-field select2 gl-transparent-pixel', required: true, id: 'country_select', data: { countries_end_point: provinces_path, selected_option: params[:country] }
