- if ::Feature.enabled?(:real_name_system)
  - url = local_assigns.fetch(:accept_term_link)
  - inline = local_assigns.fetch(:inline)
  - if ::Gitlab.dev_env_or_com? && ::Gitlab.jh? && !current_user.phone_verified?
    = form_with url: url, class: "phone-form gl-show-field-errors #{ 'inline' if inline }" do |f|
      = render 'devise/shared/phone_verification.html.haml', form: f
