- diffable = @diffs.diffable
- if ContentValidation::Setting.block_enabled?(@project) && diffable.is_a?(Commit)
  - content_blocked_state = ContentValidation::ContentBlockedState.find_by_container_commit_path(@project, diffable.sha, diff_file.blob.path)
  - if content_blocked_state.present?
    = render 'shared/content_blocked', content_blocked_state: content_blocked_state
  - else
    = render_ee 'projects/diffs/content', diff_file: diff_file
- else
  = render_ee 'projects/diffs/content', diff_file: diff_file
